@use '../abstracts/variables' as *;

.dark{
  background-color: $dark--2;
  color: $white--1;
}
@media (prefers-color-scheme: dark){
  body{
     background-color: $dark--2;
    color: $white--1;
  }
}