@use '../abstracts/variables' as *;

.dark{
  background-color: $dark--2;
  color: $white--1;
  .dropdown option{
    background-color: $dark--2;
  }
  .search{
    background-color: rgba($dark--1, 0.2);
    input:focus{
      border: 2px solid $dark--1;
    }
  }
}
