*{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: "Inter", sans-serif;
}

