@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// mobile
header{
  @include flexify(column);
  .settings{
    @include flexify(row, space-between, center);
    padding-inline: $inline--1;
    padding-block: $block--1;
    width: 100%;
    &__right{
      @include flexify(row, start, center, 2rem);
    }
  }
}

// tablet
@include responsify($breakpoint--2){
  header{
    padding-inline: $inline--2;
    padding-block: $block--2;
  }
}

// desktop
@include responsify($breakpoint--3){
  header{
    padding-inline: $inline--3;
    padding-block: $block--3;
  }
}