@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.result{

  padding-inline: $inline;
  max-width: $maxwidth;
  margin-inline: auto;
  &__heading{
    @include flexify(row, space-between, center);
    &__word{
      @include flexify(column, _, _, 1rem);
      
      span:last-child{
        color: $purple--2;
        font-style: italic;
      }
    }
    &__audio{
      cursor: pointer;
      border-radius: 50%;
      fill: $purple--2;
      background-color: rgba($purple--2, 0.25);
      &:hover{
        fill: $white--1;
        background-color: rgba($purple--2, 1);
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
  &__list{
    h2{
      margin-block: 4rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      &::after{
        content: '';
        height: 0.1rem;
        background-color: $dark--1;
        flex-grow: 1;
      }
    }
    h3{
      color: $dark--1;
    }
    &__item__meanings{
      li{
        list-style: disc;
        margin: 2rem 0 2rem 7%;
        &::marker{
          color: $purple--2;
        }
        span{
          display: block;
        }
        span:nth-child(2){
          color: $dark--1;
          margin: 1rem 0 0 1rem;
        }
      }
    }
    small span{
      color: $purple--2;
    }
  }
}
