
@mixin responsify($breakpoint){
  @media (min-width: $breakpoint) {
    @content;
  }
};

@mixin flexify($direction:row, $justify-content:start, $align-items: start, $gap:0){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap
};

@mixin gridify($columns, $gap:0){
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
};

@mixin positify($postion, $inset){
  position: $postion;
  inset: $inset;
};

@mixin switchify($checkbox, $btn, $width, $height){
  display: flex;
  width: $width;
  height: $height;
  position: relative;
  border-radius: calc($height / 2);
  #{$checkbox}{
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  };
  #{$btn}{
    position: absolute;
    inset: 0 auto auto 0;
    width: 48%;
    height: 100%;
    border-radius: calc($height / 2);
  }
  &:has(#{$checkbox}:checked) #{$btn}{
    inset: 0 0 auto auto;
  }
};

