// breakpoints
$breakpoint--1: 375px;
$breakpoint--2: 768px;
$breakpoint--3: 1450px;
// max-width
$maxwidth: 85rem;
// padding-inlines or margin-inlines
$inline: 5%;
// padding-blocks or margin-inlines
$block--1: 2.5rem;
$block--2: 3.5rem;
$block--3: 5rem;
// colors:
$dark--1: #757575;
$dark--2: #050505;
$purple--1: #a445ed7c;
$purple--2: #A445ED;
$white--1: #FFFFFF;