// breakpoints
$breakpoint--1: 375px;
$breakpoint--2: 768px;
$breakpoint--3: 1450px;
// padding-inlines
$inline--1: 5%;
$inline--2: 7%;
$inline--3: 20%;
// colors:
$dark--1: #757575;
$dark--2: #050505;
$purple--1: #a445ed7c;
$purple--2: #A445ED;
$white--1: #FFFFFF;